.calendar {
  display: flex;
  flex-direction: column;
  color: #3e8f3e;
  padding: 20px;
  height: 100vh;
  background-color: #343538;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
  align-items: center;
}

.current-month {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(39, 168, 71);
}

.nav-button {
  background: #343538;
  color: rgb(39, 168, 71);
  cursor: pointer;
  border: 1px solid rgb(39, 168, 71);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.nav-button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  max-width: 400px;
  margin: 0 30%;
}

.day-name {
  font-weight: bold;
  text-align: center;
  color: rgb(39, 168, 71);
  text-transform: uppercase;
}

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: rgb(83, 79, 79);
  border: 1px solid #140d0d;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 100px;
  height: 100px;
}

.day:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.day.today {
  background: rgb(114, 107, 107);
  color: rgb(39, 168, 71);
  border-color: rgb(39, 168, 71);
  border-width: 1px;
}

.day-number {
  padding: 3px;
  font-weight: bold;
}

.events {
  margin-top: 5px;
  width: 100%;
  text-align: center;
}

.event {
  background: #353333;
  color: rgb(0, 0, 0);
  font-size: 0.65rem;
  margin: 2px 0;
  border-radius: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
