<div class="modal-overlay" *ngIf="isVisible" (click)="close()">
  <div class="modal-content" (click)="$event.stopPropagation()">

    <div class="event-details">
      <h2>{{ selectedDate }}</h2>
      
    </div>

    <div *ngFor="let table of reservations?.tableReservationSlots" class="table-section">
      <h3>Table {{ table.tableId }}</h3>
      <div class="slot-buttons">
        <button
          *ngFor="let slot of table.reservationSlots"
          [class.available]="slot.available"
          [class.unavailable]="!slot.available"
          [class.selected]="isSlotSelected(table.tableId, slot.startTime)"
          [disabled]="!slot.available"
          (click)="toggleSlotSelection(table.tableId, slot.startTime)"
        >
          {{ slot.startTime }}
        </button>
      </div>
    </div>
    
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    
    <button class="close-button" (click)="close()">Close</button>

    <button class="green-button" (click)="createReservation()">Add new reservation</button>
    
  </div>
</div>
