<div class="app-container">
    <div class="sidebar">
      <ul class="menu">
        <li class="menu-item">
          <button 
            [class.active]="isActive('/events-list')"
            (click)="goToCalendar()">
            <i class="icon-calendar"></i> Reserve a table
          </button>
        </li>
        <li class="menu-item">
          <button 
            [class.active]="isActive('/myreservations')"
            (click)="goToMyReservations()">
            <i class="icon-calendar"></i> My reservations
          </button>
        </li>
      </ul>
      <ul class="logout-menu">  
        <li class="menu-item"> 
          <button 
            (click)="logout()">
            <i class="icon-logout"></i> Logout
          </button>
        </li>
      </ul>
    </div>
  
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
</div>
  