<div class="modal-overlay">
    <div class="modal-content">
      <form class="login-form" (ngSubmit)="onRegister()">
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
        
        <input 
          id="email" 
          [(ngModel)]="email" 
          name="email" 
          placeholder="Email" 
          required 
        />

        <input 
          id="username" 
          [(ngModel)]="username" 
          name="username" 
          placeholder="Username" 
          required 
        />
  
        <input 
          id="password" 
          [(ngModel)]="password" 
          name="password" 
          type="password" 
          placeholder="Password" 
          required 
        />
  
        <div>
          <button class="form-buttons" type="submit">Confirm registration</button>
        </div>
      </form>
  
      <div>
        <button class="form-buttons" (click)="goToLogin()">Login</button>
      </div>
      
    </div>
  </div>
  